<!-- Mostrar tareas -->
<!-- CADA CARD -->

<div class="card-tarea <%= tarea.prioridad.toLowerCase() %>">

    <div class="barra-prioridad"></div>

    <div class="contenido-tarea">

        <h3><%= tarea.nombre %></h3>

        <p><%= tarea.descripcion || "Sin descripción" %></p>

       

        <hr>

        <!-- Estado -->
        <form action="/tareas/estado/<%= tarea.id_tarea %>" method="POST" class="mb-3">
            <select class="form-select" name="id_estado" onchange="this.form.submit()">
                <option value="1" <%= tarea.id_estado == 1 ? "selected" : "" %>>Pendiente</option>
                <option value="2" <%= tarea.id_estado == 2 ? "selected" : "" %>>En progreso</option>
                <option value="3" <%= tarea.id_estado == 3 ? "selected" : "" %>>Completada</option>
            </select>
        </form>
        
      
    <div class="d-flex gap-2 align-items-center mb-3">
<!-- categoria -->
    <span class="categoria">
        <i class="fa-solid fa-tag"></i>
        <%= tarea.categoria || "Sin categoría" %>
    </span>
  <!-- Prioridad -->
    <span class="prioridad <%= tarea.prioridad.toLowerCase() %>">
        <%= tarea.prioridad %>
    </span>
</div>

        <!-- FECHAS -->
         
        <p class="mt-3">
            <i class="fa-regular fa-calendar"></i>
            Creada el
            <%= new Date(tarea.fecha_creacion).toLocaleDateString("es-AR", {
                day: "2-digit",
                month: "2-digit",
                year: "2-digit",
                hour:"2-digit",
                minute:"2-digit"
            }) %>
        </p>
        <p>
            <i class="fa-regular fa-clock"></i>
            <strong>Inicio:</strong>
            <%= tarea.fecha_inicio
                ? new Date(tarea.fecha_inicio).toLocaleString("es-AR",{
                    day:"2-digit",
                    month:"2-digit",
                    year:"2-digit",
                    hour:"2-digit",
                    minute:"2-digit"
                })
                : "-" %>
        </p>
        <p class="vence">
            <i class="fa-solid fa-triangle-exclamation"></i>
            <strong>Vence:</strong>
            <%= tarea.fecha_vencimiento
                ? new Date(tarea.fecha_vencimiento).toLocaleString("es-AR",{
                    day:"2-digit",
                    month:"2-digit",
                    year:"2-digit",
                    hour:"2-digit",
                    minute:"2-digit"
                })
                : "-" %>
        </p>
     
        <% if(tarea.id_creador == usuario.id_usuario){ %>

        <div class="d-flex gap-2 mt-3">
            <!-- BOTON EDITAR -->
            <button
                class="btn btn-primary btn-editar"
                data-bs-toggle="modal"
                data-bs-target="#editar<%= tarea.id_tarea %>">
                <i class="fa-regular fa-pen-to-square"></i> Editar
            </button>
           <!--  ELIMINAR -->
            <form action="/tareas/eliminar/<%= tarea.id_tarea %>" method="POST">
                <button
                    type="submit"
                    class="btn btn-danger btn-eliminar"
                    onclick="return confirm('¿Seguro que querés eliminar esta tarea?')">
                   <i class="fa-solid fa-trash-can"></i> Eliminar
                </button>
            </form>

        </div>

        <% } %>

    </div>

</div>
<!-- MODAL DE EDITAR (modalEditar.ejs)-->
<%- include("modalEditar", { tarea, categorias, usuario }) %>
